<div class="login">
    <form class="custom-form" method="post">
      <h1>Login de Conductor</h1>
      <input
        type="email"
        [(ngModel)]="login.email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="login.password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <button type="submit" (click)="loginUsuario()" >Log in</button>
    </form>
  </div>
  